/* CSS for team page */

@import '../../global.css';

.team-container {
    width: 100%;
    background-color: var(--background);
    padding-top: 50px;
    margin-top: 60px;
}

.team-title {
    width: 100%;
    padding: 20px 8%;
    text-align: center;
    background-color: transparent;
    margin-top: 70px;
}

.ourteams-text {
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.join-itsa-button {
    width: auto;
    height: 45px;
    border-radius: 50px;
    background-color: var(--blue);
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    box-shadow: 4px 4px 50px #0085FF4a;
    background: linear-gradient(-45deg,#02b902 , #02B93F, #02b98b ,  #02a4b9 , #008CCE, #0085FF, #1578FF, #2453FF, #4B44FF,#008CCE, #02a4b9);
	background-size: 300% 300%;
	animation: gradient 10s ease-in-out infinite;
}

.imgsize{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background: #202020;
}
  
.highertext{
    align-content: center;
}

.team-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 21vw;
    height: 200px;
    background: #ABABAB1a;
    border-radius: 8px;
    padding: 50px 10px 10px 10px;
    position: relative;
    padding-top: 60px;
    border-bottom: 8px solid var(--blue);
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.team-box:hover {
    border-bottom-width: 40px ;
    transition: 0.25s ease-in-out;
}

.team-top, .team-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.team-bottom {
    margin-top: 80px;
    padding: 0 18%;
}

.team-box img {
    height: 70%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.team-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: -8px;
    left: 48%;
    transform: translateY(-50%) translateX(-50%);
    transition: 0.4s ease;
}

.tb0 {
    border-color: var(--blue);
}

.tb1 {
    border-color: var(--yellow);
}

.tb2 {
    border-color: #7E08D9;
}

.tb3 {
    border-color: var(--green);
}

.tb4 {
    border-color: #0068C8;
}

.view-button {
    opacity: 0;
    display: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    animation: opacity 1.4s;
}

@keyframes opacity {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.team-box:hover .view-button {
    opacity: 1;
    display: flex;
    position: absolute; 
    bottom: -30px;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: opacity 1.4s;
}

.team-box:hover .team-icon {
    width: 20px;
    transition: 0.4s ease;
    height: 20px;
}

@media only screen and (max-width: 600px)   {
    .team-container {
        width: 100%;
        background-color: var(--background);
        padding-top: 0px;
        margin-top: 0px;
    }
    .team-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% - 20px);
        height: 180px;
        background: #ABABAB1a;
        border-radius: 8px;
        padding: 20px 10px 10px 10px;
        position: relative;
        padding-top: 20px;
        border-bottom: 40px solid transparent;
        cursor: pointer;
        transition: 0.25s ease-in-out;
        margin: 0 auto;
        margin-top: 70px;
    }
    .team-top, .team-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .team-bottom {
        margin-top: 0px;
        padding: 0 0;
    }
    .tb0 {
        border-color: var(--blue);
    }
    
    .tb1 {
        border-color: var(--yellow);
    }
    
    .tb2 {
        border-color: #7E08D9;
    }
    
    .tb3 {
        border-color: var(--green);
    }
    
    .tb4 {
        border-color: #0068C8;
    }
    .view-button {
        opacity: 1;
        display: block;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
        animation: opacity 1.4s;
        position: absolute; 
        bottom: -30px;
        margin-top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    .team-icon {
        display: none;
    }
    .team-box img {
        display: none;
    }
}