/* CSS for about page */

@import '../../global.css';

.about-container {
    width: 100%;
    background-color: var(--background);
}

.curve-div {
    width: 100%;
    background-color: transparent;
    height: 55px;
    overflow-y: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}
.curve {
   width: 10%;
}

.about-title {
    font-weight: 700;
    width: 40%;
    padding: 0 20px;
    text-align: center;
    background-color: transparent;
    position: absolute;
    right: 100px;
}

.about-title .h2.primary {
    margin-bottom: 30px;
    margin-top: 10px;
}

.features-container {
    width: 100%;
    background-color: transparent;
    padding: 20px 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feature {
    width: 28%;
    height: 380px;
    border-radius: 10px;
    background-color: #ABABAB1a;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-bottom: 8px solid transparent;
}

.feature-title {
    text-align: center;
    background-size: 200% auto;
    color: red;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 10s linear infinite;
    animation: shine 10s linear infinite;
}

.feature-0 {
    animation: float2 3s ease-in-out infinite;
    margin-top: 4%;
    border-bottom-color: var(--yellow)
}
.feature-0 .feature-image-container {
    margin-left: -15px;
}
.feature-title-0 {
    text-align: center;
    background: linear-gradient(to right, var(--yellow), 80%, #FFF, var(--yellow));
    background-size: 200% auto;
    color: red;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 10s linear infinite;
    animation: shine 10s linear infinite;
}

.feature-1 {
    animation: float 3s ease-in-out infinite;
    margin-top: 14%;
    border-bottom-color: var(--green);
}
.feature-1 .feature-image-container {
    margin-left: -15px;
}
.feature-title-1 {
    text-align: center;
    background: linear-gradient(to right, var(--green), 80%, #FFF, var(--green));
    background-size: 200% auto;
    color: red;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 10s linear infinite;
    animation: shine 10s linear infinite;
}


.feature-2 {
    animation: float2 3s ease-in-out infinite;
    margin-top: 24%;
    border-bottom-color: var(--blue);
}
.feature-2 .feature-image-container {
    margin-left: -15px;
}
.feature-title-2 {
    text-align: center;
    background: linear-gradient(to right, var(--blue), 80%, #FFF, var(--blue));
    background-size: 200% auto;
    color: red;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 10s linear infinite;
    animation: shine 10s linear infinite;
}

.feature-title {
    text-align: center;
    background-size: 200% auto;
    color: red;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 10s linear infinite;
    animation: shine 10s linear infinite;
}


.feature-image-container {
    width: calc(100% + 40px);
    margin: 50px;
    height: 80%;
    padding: 0px;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    transition: 0.25s ease-in;
}

.feature-image-container-hover {
    width: calc(90%);
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60%;
    /* padding: 20px 0; */
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    transition: 0.25s ease-in;
}

.feature-0 video, .feature-1 video {
    transform: scale(1.4);
}

 
.feature-image-container-hover img , .feature-image-container video {
    width: 100%;
    object-fit: fill;
    transition: 0.25s ease-in-out !important;
    border-radius: 10px;
}

.feature-image-container img , .feature-image-container video {
    width: 100%;
    object-fit: fill;
    transition: 0.25s ease-in-out !important;
    border-radius: 10px;
}

.feature-info {
    height: 20%;
    overflow: hidden;
    padding: 0 10%;
    width: 100%;
    transition: 0.25s ease-in-out;
}

.feature-info-hover {
    height: 60%;
    overflow: hidden;
    padding: 0 10%;
    width: 100%;
    transition: 0.25s ease-in-out;
}

.itsa-def {
    width: 100%;
    padding: 80px 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.itsa-def-left {
    width: 20%;
    display: flex;
    text-align: right;
    align-items: center;
}

.itsa-def-right {
    width: 80%;
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.itsa-def-text {
    text-align: right;
    background: linear-gradient(to left,  var(--blue), 33%,  rgb(83, 27, 214), rgb(75, 116, 250));
    background-size: 200% auto;
    color: red;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 10s linear infinite;
    animation: shine 10s linear infinite;
    padding-left: 0%;
    font-weight: 800;
    padding-right: 10px;
}

.itsa-desc-text {
    padding-left: 60px;
    width: 100%;
    font-size: 17px;
}

.recentworks-text {
    margin: 50px auto;
}

.sticky-container {
    /* position: sticky; */
    top: 0;
    width: 100%;
    padding-bottom: 80px;
    overflow-x: hidden;
}

.horizontal-translate-container {
    /* position: absolute; */
    left: 0;
    will-change: transform;
    transform: translate3d(0,0,0);
    transition: transform 0ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.horizontal-translate-container::-webkit-scrollbar {
    display: none;
}
.cards-container {
    position: relative;
    height: 100%;
    padding: 0 0 0 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: auto;
}

.sample-card {
    position: relative;
    height: 500px;
    width: 400px;
    background-color: transparent;
    margin-right: 20px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.triple-width {
    width: 600px !important;
}

.single-card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ABABAB1A;
}

.double-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.double-card-upper {
    width: 100%;
    height: calc(100% - 10px);
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ABABAB1A;
}

.double-card-lower {
    width: 100%;
    height: calc(100% - 10px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ABABAB1A;
}

.triple-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.triple-card-left {
    width: calc(45% - 10px);
    height: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.triple-card-left-upper, .triple-card-left-lower {
    width: 100%;
    height: calc(50% - 10px);
    border-radius: 10px;
    background-color: #ABABAB1A;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.triple-card-left-lower {
    margin-top: 10px;
}

.triple-card-left-upper {
    margin-bottom: 10px;
}

.triple-card-right {
    width: calc(55% - 10px);
    margin-left: 0px;
    height: 100%;
    border-radius: 10px;
    background-color: #ABABAB1A;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-card img,  .double-card img, .triple-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* .single-card:hover, .double-card-lower:hover, .double-card-upper:hover, .triple-card-left-upper:hover, .triple-card-left-lower:hover, .triple-card-right:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.45s ease;
} */

.teacher-box {
    
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.teacher-box * {
    margin-bottom: 10px;
    margin-top: 10px;
}

.teacher-box-photo {
    width: 130px;
    height: 130px;
    background-color: #ABABAB1a;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.itsa-def-right-inspiration {
    width: 80%;
    padding: 0 10%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
}


@media only screen and (max-width: 600px)  {
    .curve-div {
        visibility: hidden;
    }
    .about-title {
        font-weight: 700;
        width: 100%;
        padding: 0 20px;
        text-align: center;
        background-color: transparent;
        position: absolute;
        right: 0;
        left: 0;
    }
    .features-container {
        width: 100%;
        background-color: transparent;
        padding: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 160px;
        justify-content: flex-start;
    }
    .feature {
        width: 80%;
        height: 370px;
        border-radius: 10px;
        background-color: #ABABAB1a;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        border-bottom: 8px solid;
    }
    .feature-0 {
        border-bottom-color: var(--yellow);
    }
    .feature-1 {
        margin-top: 30px;
        border-bottom-color: var(--green);
    }
    .feature-2 {
        margin-top: 30px;
        border-bottom-color: var(--blue);
    }
    .itsa-def {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .itsa-def-left {
        width: 100%;
        display: flex;
        text-align: center;
        align-items: unset;
    }
    
    .itsa-def-right {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: unset;
        flex-direction: column;
    }
    .itsa-def-text {
        text-align: center;
        margin-bottom: 20px;
        padding-left: 10px;
    }
    .itsa-desc-text {
        text-align: center;
        padding-left: 0;
        width: 100%;
        font-size: 14px;
    }
    .itsa-def-right-inspiration {
        width: 100%;
        padding: 20;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }
    .teacher-box * {
        margin-bottom: 5px;
    }
    .teacher-box {
        margin-bottom: 20px;
    }
    
}