/* CSS for activities page */

@import '../../global.css';

.activities-container{
  width: 100%;
  background-color: var(--background);
}

.card-container{
  margin-top: 70px;
  margin-bottom: 10px;
  background-color: var(--background);
}
.table{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  padding: 0px 50px;
  text-align:left;
  background-color: var(--background);
}
.table.even {
  flex-direction: row-reverse;
}
.table.even .carousel-right {
  width: calc(40% - 30px);
  margin-right: 20px;
}
/* .table.even .carousel-left {
  align-items: flex-end;
}
.table.even .carousel-left .h2 {
  text-align: right !important;
}
.table.even .carousel-left .horizontal {
  justify-content: flex-end;
}
.table.even .speaker {
  flex-direction: row-reverse;
  margin-right: 0;
  margin-left: 20px;
}
.table.even .speaker-photo {
  margin-right: 0;
  margin-left: 15px;
}
.table.even .speaker-info {
  align-items: flex-end;
} */

.table h1{
  font-size: 3rem;
  color: #818181;
}

.contentcss{
  padding: 10px 0;
  padding-left: 0;
}

.table img{
  padding: 1%;
  border-radius: 2%;
  display: block;
}

.small-image{
  padding: 1%;
  border-radius: 2%;
  display: inline-block;
  width: 150px;
  height: 150px;
  align-items: center;
}

.carousel-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  width: calc(60% - 30px);
  margin-right: 20px;
}

.carousel-left * {
  margin-bottom: 5px;
}

.carousel-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
}

.carousel .slide {
  background: var(--background);
}

.carousel-status {
  display: none;
}

.main-image {
  width: 100%;
  max-height: 50%;
  overflow: hidden;
}

.other-images {
  width: 100%;
  margin-top: 20px;
  max-height: calc(50% - 20px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

.carousel .slide img {
  object-fit: cover;
  padding: 0;
  border-radius: 15px;
}

.horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--mediumgrey);
  margin: auto 10px;
}

.number {
  font-size: 100px;
  line-height: 100px;
  margin-left: -5px;
  opacity: 0.2;
}

.date {
  text-transform: uppercase;
  color: var(--blue);
}

.other-image img, .main-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.plus-more {
  position: relative;
  cursor: pointer;
}
.plus-more img {
  filter: brightness(0.5);
}
.plus-more .h5 {
  position: absolute;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.indicator-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inactive-indicator {
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background-color: var(--mediumgrey);
}

.active-indicator {
  width: 30px;
  height: 7px;
  border-radius: 10px;
  background-color: var(--blue);
}

.ReactModal__Content {
  background-color: var(--background) !important;
  outline: none;
  border: none  !important ;
  overflow: hidden !important ;
}

.carousel-more-image {
  width: 85%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.carousel-more-image img {
  width: 100%;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 10px;
  padding-top: 20px;
}

.speakers-container, .speaker {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.speaker {
  margin-right: 20px;
  margin-top: 0;
}

.speaker-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 15px;
  background-color: #ABABAB1a;
}
.speaker-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-right: 0;
  margin-bottom: 0;
}

.speaker-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-root {
  padding-right: 50px;
  
}

.load-button {
  width: fit-content;
  margin: 40px 0;
  margin-left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #ABABAB1A;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px)   {
  .table{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0px;
    text-align:unset;
    background-color: var(--background);
  }
  .carousel-left, .carousel-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: calc(100% - 80px);
    margin: 0 80px;
  }
  .carousel-right {
    margin-top: 30px;
  }
  .speakers-container {
    flex-direction: column;
  }
  .table.even {
    flex-direction: column;
  }
  .table.even .carousel-right {
    width: calc(100% - 80px);
    margin: 0 80px;
  }
}