/* CSS for activities page */

@import '../../global.css';

.activities-container{
  width: 100%;
  background-color: var(--background);
}

.table{
  width: 100%;
  table-layout: fixed;
  display: block;
}

.table h1{
  font-size: 3rem;
  color: #818181;
}

.contentcss{
  margin-right: 5%;
  padding: 10px;
  padding-left: 0;
}

.table img{
  padding: 1%;
  border-radius: 2%;
  display: block;
}

.small-image{
  padding: 1%;
  border-radius: 2%;
  display: inline-block;
  width: 150px;
  height: 150px;
  align-items: center;
}
