/* CSS for activities page */

@import '../../global.css';

.activities-container{
  width: 100%;
  background-color: var(--background);
}

.card-container{
  min-height: 80vh;
  margin-top: 30px;
  background-color: var(--background);
}
.table{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  padding: 50px;
  text-align:left;
  background-color: var(--background);
}


.table h1{
  font-size: 3rem;
  color: #818181;
}

.contentcss{
  margin-right: 5%;
  padding: 10px;
  padding-left: 0;
}

.table img{
  padding: 1%;
  border-radius: 2%;
  display: block;
}

.small-image{
  padding: 1%;
  border-radius: 2%;
  display: inline-block;
  width: 150px;
  height: 150px;
  align-items: center;
}

.carousel-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  width: 60%;
}

.carousel-left * {
  margin-bottom: 5px;
}

.carousel-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
}

.carousel .slide {
  background: var(--background);
}

.carousel-status {
  display: none;
}

.main-image {
  width: 100%;
  max-height: 50%;
  overflow: hidden;
}

.other-images {
  width: 100%;
  margin-top: 20px;
  max-height: calc(50% - 20px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

.carousel .slide img {
  object-fit: cover;
  padding: 0;
  border-radius: 15px;
}

.number {
  font-size: 100px;
  line-height: 100px;
  margin-left: -5px;
  opacity: 0.2;
}

.date {
  text-transform: uppercase;
  color: var(--blue);
}

.plus-more {
  position: relative;
  cursor: pointer;
}
.plus-more img {
  filter: brightness(0.5);
}
.plus-more .h5 {
  position: absolute;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.indicator-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inactive-indicator {
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background-color: var(--mediumgrey);
}

.active-indicator {
  width: 30px;
  height: 7px;
  border-radius: 10px;
  background-color: var(--blue);
}

@media only screen and (max-width: 600px)   {
  .table{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0px;
    text-align:unset;
    background-color: var(--background);
  }
  .carousel-left, .carousel-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: calc(100% - 80px);
    margin: 0 80px;
  }
  .carousel-right {
    margin-top: 30px;
  }
}