/* CSS for footer */

@import '../../global.css';

.footer{
    display: flex;
    flex-direction: row;
    font-weight:normal;
    background-color:#FFFFFF;
    color:#1B1B1B;
    padding: 30px 5%;
    margin-top: 35px;
    padding-left: calc(5% + 100px);
  }

  .footer * {
    color: #ABABAB !important;
  }
  
  .footer-info{
    display:flex;
    justify-content: center;
    
  }
  
  .footer-info-left, .footer-info-center, .footer-info-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    flex-grow: 1;
    min-width: 30%;
    transition: 0.2s;
    margin: 0 10px;
  }
  
  .footer-address   {
    text-align:center;  
    font-size: x-large;
  }

 
  .Social-media .h4 {
    margin-bottom: 20px;
  }
  
  
  .link{
    text-decoration:none;
    display: flex;
    align-items: center;
  }

  .link .t1 {
    margin-left: 10px;
  }
  
  .footer-info-left:hover, .footer-info-center:hover, .footer-info-right:hover{
    transform: scale(1.05);
  }
  
  
  .dark-mode{
    background-color:#1a1a1a;
    color :#FFFFFF;
  }
  
  .link-dark{
    color:#FFFFFF;
  }
  
  .link-pad {
    margin: 30px;
  }
  
