/* Global CSS, font styles and typefaces */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Raleway:wght@300;400;500;600&display=swap');

html,body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    user-select: none;
    border: none;
    background-color: var(--background);
}

* {
    box-sizing: border-box;
    user-select: none;
    outline: none;
}

:root {

    /* these colors remain same irrespective of theme */
    --blue : #0085FF;
    --yellow : #FFDB00;
    --green : #02B93F;
    --lightgrey : #ABABAB;
    --mediumgrey : #818181;
    --darkgrey : #6D6D6D;
    --tan : #241414;
    --black : #141414;

    /* these colors change according to theme */
    --background : #FFFFFF;
    --primary : #1B1B1B;
}

.primary {
    color: var(--primary);
}


/* Text styles */

/* Headings */

.h0 {
    font-family: Poppins;
    font-weight: 800;
    font-size: 65px;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    line-height: 90px;
}

.h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: -0.5px;
    margin: 0;
    padding: 0;
}

.h2 {
    font-family: Poppins;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -0.2px;
    margin: 0;
    padding: 0;
}

.h3 {
    font-family: Poppins;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
}

.h4 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
}

.h5 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
}

/* Normal text */

.t0 {
    font-family: Raleway;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.7px;
    margin: 0;
    padding: 0;
    line-height: 25px;
}

.t1 {
    font-family: Raleway;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    line-height: 20px;
}

.t2 {
    font-family: Raleway;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    line-height: 25px;
}


/* Classes for text alignment */

.ta-center {
    width: 100%;
    text-align: center;
}

.ta-left {
    width: 100%;
    text-align: left;
}

.ta-right {
    width: 100%;
    text-align: right;
}


/* Other global CSS classes */

.section-container {
    width: 100%;
    padding-left: 100px;
    min-height: 200px;
    background-color: cadetblue; 
}

.white {
    color: #FFFFFF;
}

.blue {
    color: var(--blue);
}

.mediumgrey {
    color: var(--mediumgrey);
}

.scrollbar {
    opacity: 0.8;
    border-radius: 10px;
    width: 8px;
    background: linear-gradient(var(--blue), var(--green));
    height: 20vh;
    margin-right: 30px;
}


@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px) translateX(-2px) rotate(0.8deg);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes float2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(3px) translateX(3px) rotate(-0.3deg);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes shine {
    from {
      background-position: 200% center;
    }
  }
  
@keyframes shine {
    from {
      background-position: 200% center;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #02a4b9 , #008CCE, #0085FF, #1578FF, #2453FF, #4B44FF,#008CCE, #02a4b9);
    border-radius: 10px;
    background-blend-mode: saturation;
    height: 10vh;
}

@media only screen and (max-width: 600px)  {
    
    body {
        overflow-x: hidden;
    }
    .section-container {
        padding-left: 0;
    }
    
    .h0 {
        font-size: 34px;
        line-height: 50px;
    }

    .h1 {
        font-size: 33px;
        padding: 0 20px;
    }

    .h2 {
        font-size: 23px;
        line-height: 35px;
    }

    .h4 {
        font-size: 15px;
    }

    .h5 {
        font-size: 13px;
    }

    .t0 {
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 22px;
    }
}